@model Biodiversity.DataAccess.SqlDataTier.Entity.Taxon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
<h4>Taxon</h4>
<hr/>
<dl class="dl-horizontal">
<dt>
    @Html.DisplayNameFor(model => model.TaxonName)
</dt>

<dd>
    @Html.DisplayFor(model => model.TaxonName)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.TaxonType)
</dt>

<dd>
    @Html.DisplayFor(model => model.TaxonType)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Sex)
</dt>

<dd>
    @Html.DisplayFor(model => model.Sex)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Level)
</dt>

<dd>
    @Html.DisplayFor(model => model.Level)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Parent)
</dt>

<dd>
    @Html.DisplayFor(model => model.Parent)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.LevelUp)
</dt>

<dd>
    @Html.DisplayFor(model => model.LevelUp)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.TypeSpecies)
</dt>

<dd>
    @Html.DisplayFor(model => model.TypeSpecies)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.OrigGenus)
</dt>

<dd>
    @Html.DisplayFor(model => model.OrigGenus)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.OrigSpelling)
</dt>

<dd>
    @Html.DisplayFor(model => model.OrigSpelling)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.StartAge)
</dt>

<dd>
    @Html.DisplayFor(model => model.StartAge)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.EndAge)
</dt>

<dd>
    @Html.DisplayFor(model => model.EndAge)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.GeologicAge)
</dt>

<dd>
    @Html.DisplayFor(model => model.GeologicAge)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.RecentGenera)
</dt>

<dd>
    @Html.DisplayFor(model => model.RecentGenera)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.FossilGenera)
</dt>

<dd>
    @Html.DisplayFor(model => model.FossilGenera)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.RecentSpecies)
</dt>

<dd>
    @Html.DisplayFor(model => model.RecentSpecies)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.FossilSpecies)
</dt>

<dd>
    @Html.DisplayFor(model => model.FossilSpecies)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Page)
</dt>

<dd>
    @Html.DisplayFor(model => model.Page)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Illustration)
</dt>

<dd>
    @Html.DisplayFor(model => model.Illustration)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.TaxonComment)
</dt>

<dd>
    @Html.DisplayFor(model => model.TaxonComment)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Commonname)
</dt>

<dd>
    @Html.DisplayFor(model => model.Commonname)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.TypeForGroup)
</dt>

<dd>
    @Html.DisplayFor(model => model.TypeForGroup)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.TaxonKey)
</dt>

<dd>
    @Html.DisplayFor(model => model.TaxonKey)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.PhylumKey)
</dt>

<dd>
    @Html.DisplayFor(model => model.PhylumKey)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.OldKey)
</dt>

<dd>
    @Html.DisplayFor(model => model.OldKey)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.OldId)
</dt>

<dd>
    @Html.DisplayFor(model => model.OldId)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.LevelUpOld)
</dt>

<dd>
    @Html.DisplayFor(model => model.LevelUpOld)
</dd>

@*<dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>*@

<dt>
    @Html.DisplayNameFor(model => model.ModifiedBy)
</dt>

<dd>
    @Html.DisplayFor(model => model.ModifiedBy)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.ModifiedDate)
</dt>

<dd>
    @Html.DisplayFor(model => model.ModifiedDate)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.CreatedBy)
</dt>

<dd>
    @Html.DisplayFor(model => model.CreatedBy)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.CreatedDate)
</dt>

<dd>
    @Html.DisplayFor(model => model.CreatedDate)
</dd>

</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.TaxonId}) |
    @Html.ActionLink("Back to List", "Index")
</p>