@using PagedList.Mvc
@model PagedList.IPagedList<Biodiversity.DataAccess.SqlDataTier.Entity.Author>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Authors</h2>

<p>
    @Html.ActionLink("Create New Author", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by Author Last Name: @Html.TextBox("SearchString") <input type="submit" value="Search"/>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AuthorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Abbreviation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Comment)
        </th>
        @*<th>
                    @Html.DisplayNameFor(model => model.TimeStamp)
                </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abbreviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            @*<td>
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.AuthorId}) |
                @Html.ActionLink("Details", "Details", new {id = item.AuthorId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.AuthorId})
            </td>
        </tr>
    }

</table>
<br/>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new {page}))